%h1 Please edit your tip!
%form.form-horizontal{action: '#', method: 'post'}
  .panel.panel-default
    .panel-heading="Week #{@tip.week.tippingweek}"
    .panel-body
      .form-group
        %label.col-md-2.control-label{for: 'user_id'} User
        .col.col-md-10
          %select.form-control{ name: 'user_id'}
            %optgroup{label: 'Current User'}
              %option{value: @tip_user.id}=@tip_user.name
            %optgroup{label: 'Other Registered Users'}
              -all_users.each do |user|
                %option{value: user.id}=user.name
      .form-group
        %label.col-md-2.control-label{for: 'sport'} Sport
        .col.col-md-10
          %input.form-control.input-md{type: 'text', placeholder: 'Ulimate Frisbee', name: 'sport', required: true, value: @tip.sport}
      .form-group
        %label.col-md-2.control-label{for: 'description'} Match
        .col.col-md-10
          %input.form-control.input-md{type: 'text', placeholder: 'Manly over the Cowboys by 1-12', name: 'description', required: true, value: @tip.description}
      .form-group
        %label.col-md-2.control-label{for: 'odds'} Odds
        .col.col-md-10
          %input.form-control.input-md{type: 'number', placeholder: '3.20', name: 'odds', step: '0.01', min: '1', value: @tip.odds}
      .form-group
        %label.col-md-2.control-label{for: 'matchtime'} Event Time
        .col.col-md-10
          .input-group.date#eventTime
            %span.input-group-addon{for: 'matchtime'}
              %i.fa.fa-calendar
            %input.form-control.input-md{type: 'datetime', name: 'matchtime', required: true, value:@tip.matchtime}
      .form-group
        %label.col-md-2.control-label{for: 'tippingweek'} Tipping Week
        .col.col-md-10
          %input.form-control.input-md{type: 'number', name: 'tippingweek', min: '1', value: @tip.week.tippingweek}
      .form-group
        .col-md-2
        .col-md-10
          %button.btn.btn-success{type: 'submit'} Submit Tip

:javascript
  $(document).ready( function() {
    $('#eventTime').datetimepicker({ defaultDate: '#{@tip.matchtime}', locale: 'en-au', format: 'YYYY-MM-DD HH:mm:ss'});
  });
