-if @tip.nil?
  %h1 This tip does not exist
-else
  %h1 Individual Tip Details
%ul.breadcrumb
  %li
    %a{href: "/tip/#{params[:id].to_i - 1}"}
      %i.fa.fa-long-arrow-left
  %li
    %a{href: "/tip/#{params[:id].to_i + 1}"}
      %i.fa.fa-long-arrow-right
  %h1 Tip Information
-unless @tip.nil?
  -seconds_to_match = @tip.matchtime - Time.now rescue 2397600
  .row
    .col-xs-3 Id
    .col-xs-9=@tip.id
  .row
    .col-xs-3 User
    .col-xs-9=@tip.user
  .row
    .col-xs-3 Sport
    .col-xs-9=@tip.sport
  .row
    .col-xs-3 Tip
    .col-xs-9=@tip.description
  .row
    .col-xs-3 Event time
    .col-xs-9=(seconds_to_match < 0 ? 'Complete' : sprintf('%.0f hours', seconds_to_match / 3600))
  .row
    .col-xs-3 Odds
    .col-xs-9=sprintf('$%.2f', @tip.odds.to_f)
  .row
    .col-xs-3 Tipping Week
    .col-xs-9=@tip.tippingweek
  .row
    .col-xs-3 Successful
    .col-xs-9=@tip.successful
  .row
    .col-xs-3 Locked
    .col-xs-9=@tip.locked
  .row
    .col-xs-3 Deleted
    .col-xs-9=@tip.deleted
  .row
    .col-xs-3 Created at
    .col-xs-9=@tip.created_at
  .row
    .col-xs-3 Updated at
    .col-xs-9=@tip.updated_at
