.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.fa.fa-fw.fa-users
          %span.text User Stats
      .table-responsive
        .table.table-hover
          %table.table.table-hover
            %thead
              %tr
                %th{scope: :col} User
                %th{scope: :col} Streak
                %th.numeric{scope: :col} Wins
                %th.numeric{scope: :col} %
            -if @stats.nil?
              %tr
                %td No users found
            -else
              -@stats.each do |row|
                %tr
                  %th{scope: :row}
                    %a{href: "/user/#{row[:user].id}"}=row[:user].first_name
                  %td
                    -row[:user].streak[:count].times do
                      -if row[:user].streak[:successful]
                        %i.fa.fa-thumbs-up.text-success
                      -else
                        %i.fa.fa-thumbs-down.text-danger
                  %td.numeric=row[:successes]
                  %td.numeric="#{(row[:successes].to_f/row[:total].to_f * 100).to_i rescue 'N/A'}%"
