-if @stats.nil?
  %h1 No users Found :(
-else
  %h1 User Stats!
  %table.table
    %thead
      %tr
        %th{scope: :col} Name
        %th{scope: :col} Stats
    %tbody
      -@stats.each do |user|
        %tr
          %th{scope: :row}=user[:user]
          %td="#{user[:successes]}/#{user[:total]} (#{(user[:successes].to_f/user[:total].to_f * 100).to_i rescue 'N/A'}%)"
