%h1 Edit your profile
%form.form-horizontal{action: '#', method: 'post'}
  .panel.panel-default
    .panel-heading Detail
    .panel-body
      .form-group
        %label.col-md-2.control-label{for: 'name'} Name
        .col.col-md-10
          %input.form-control.input-md{type: 'text', value: @user.name, name: 'name', required: true}
      .form-group
        %label.col-md-2.control-label{for: 'email'} Email
        .col.col-md-10
          %input.form-control.input-md{type: 'text', value: @user.email, name: 'email', disabled: true}
      .form-group
        %label.col-md-2.control-label{for: 'first_name'} First Name
        .col.col-md-10
          %input.form-control.input-md{type: 'text', value: @user.first_name, name: 'first_name', required: true}
      .form-group
        %label.col-md-2.control-label{for: 'last_name'} Last Name
        .col.col-md-10
          %input.form-control.input-md{type: 'text', value: @user.last_name, name: 'last_name', required: true}
      .form-group
        %label.col-md-2.control-label{for: 'image'} Avatar
        .col.col-md-10
          %input.form-control.input-md{type: 'text', value: @user.image, name: 'image', required: true}
      .form-group
        .col-md-2
        .col-md-10
          %button.btn.btn-success{type: 'submit'} Submit Tip
