@import "bootstrap";
@import "bootstrap3-datetimepicker";

.numeric {
  text-align: right;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

img.profile {
  height: 50px;
  border-radius: 50%;
}
